@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

.logContainer {

  background-color: 	transparent;
  margin: 20px;
  animation: .5s ease-in-out 0s 1 light-bounce-in;

  & * {
    font-size: 16px;
  }

  & > .log {
    margin: 0 10px;
    border-radius: 10px;
    overflow-wrap: break-word;

    & > .logOwner {
      font-size: 25px;
      transition: .2s;
      color: white !important;
      font-weight: 500;
      text-decoration: none;
      margin: 0 10px;
    
       &:hover {
        color: white !important;
        text-shadow: 1px 0 white;
       }
    }
  }

  & .logTitle {
    font-size: 25px;
    color: white;
  }

  & > .showComments {
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    margin: -5px 0 0 10px;

    &:hover {
      background-color: rgba(0,0,0,.5) !important;
    }
  }
}

.logContent {
  margin: 5px 10px !important;
  padding: 0 10px;
  font-family: "Fira code", "Fira Mono", monospace;
  color: white;
}

@media only screen and (max-width: 600px) {
  .logTitle, .showComments {
    font-size: 16px !important;
  }
  .logOwner {
    font-size: 18px !important;
  }
  .codeEditor * {
      font-size: 12px !important;
  }
  .navbar-toggler-icon, .navbar-toggler {
    border: none !important;
    margin-right: 2.5vw;
  }
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
