.codeEditor {
  margin: 0 10px;
  background-color: 	rgba(0,0,0,.7);
  border: none !important;
  border-radius: 10px;
  font-family: "Fira code", "Fira Mono", monospace;

  & > *::placeholder {
    color: rgba(255,255,255,.8);
  }
  
}

.titleInput {
  font-weight: 400;
  border: none !important;
  color: white !important;
  background-color: transparent;

  &:focus {
    background-color: transparent;
  }

  &::placeholder {
    color: rgba(255,255,255,.7);
    font-weight: 500;
  }
}

#createLogHeader {
  color: white;
  margin: 10px 0 -15px 30px;
}

.logButton {
  background-color: rgba(0,0,0,.5);
  border-radius: 10px;
  margin: 10px;
  border: 0;
}