:root {
  --top: 70px;
}

.searchBar {
  width: 15vw;
  z-index: 999;
  position: absolute;
  top: var(--top);
  right: 30px;
}

.searchInput {
  color: white;
  width: 15vw;
  outline: none;
  background-color: 	rgba(0,0,0,.5);
  border-color: transparent;
  border-radius: 10px;

  &::placeholder {
    color: rgba(255,255,255,.7);
  }
}

.resultContainer {
  z-index: 998;
  background-color: 	rgba(0,0,0,.3);
  border-top: unset;
  border-radius: 10px;
  position: absolute;
  top: calc(var(--top) + 43px);
  right: 30px;
  height: auto;
  width: 15vw;
}

.result {
  z-index: 999;
  margin: 10px;
}

.resultLink {
  transition: .2s;
  color: white !important;
  font-weight: 500;
  text-decoration: none;

   &:hover {
    color: white !important;
    text-shadow: 1px 0 white;
   }
}
