:root {
  --top: 110px;
}

.searchBar {
  width: 300px;
  z-index: 999;
}

.searchInput {
  color: white;
  width: 300px;
  outline: none;
  background-color: 	rgba(0,0,0,.5);
  border-color: transparent;
  border-radius: 10px;

  &::placeholder {
    color: rgba(255,255,255,.7);
  }
}

.resultContainer {
  z-index: 998;
  background-color: 	rgba(0,0,0,.3);
  border-top: unset;
  border-radius: 10px;
  position: absolute;
  top: var(--top);
  height: auto;
  width: 300px;
}

.result {
  z-index: 999;
  margin: 10px;
}

.resultLink {
  transition: .2s;
  color: white !important;
  font-weight: 500;
  text-decoration: none;

   &:hover {
    color: white !important;
    text-shadow: 1px 0 white;
   }
}

@media only screen and (max-width: 600px) {
  .searchBar, .searchInput, .resultContainer {
    width: 90vw;
    margin: 0 2.5vw;
  }

  .resultContainer {
    top: calc(var(--top) + 14px);
    background-color: 	rgba(0,0,0,.7);
  }

}