.codeEditor {
  margin: 0 10px;
  color: white;
  background-color: #192734;
  border-radius: 15px;
  font-family: "Fira code", "Fira Mono", monospace;
}

.titleInput {
  background-color: transparent;
  border: none !important;
}

#editLogHeader {
  margin: 10px 0 -15px 30px;
}

#editLogButton {
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(0,0,0,5);
}