#header {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  background-color: transparent;
  border-radius: 0 0 25px 25px;
}

.dropdown {
  text-align: right;
  margin-right: 50px;
  width: 250px;
}

div.dropdown-menu.show {
  text-align: right;
  background-color: transparent;
  border: none;
}
a.dropdown-item {
  line-height: 45px !important;
  color: #ffffff
}

.spacing {
  width: stretch;
}

#headerTitle {
  margin: 0 15px;
  font-size: 100px;
  color: white;
  text-decoration: none;

  &:hover {
    text-shadow: .75px 0 white
  }
}

.nav-link {
  margin-top: 25px;
  color: white !important;
  font-weight: 500;
  font-size: x-large;

  &:hover {
  color: white !important;
  text-shadow: .5px 0 white;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    line-height: unset;
    margin-top: unset;
  }
  #headerTitle {
    font-size: 45px;
  }
  .nav-link {
    line-height: unset;
    margin: 0 6vw;
  }
  .dropdown {
    margin-left: unset;
  }
}