#header {
  background-color: transparent;
  border-radius: 0 0 25px 25px;
}

#headerTitle {
  margin: 0 15px;
  font-size: 100px;
  color: white;
  text-decoration: none;

  &:hover {
    text-shadow: .75px 0 white
  }
}

.nav-link {
  color: white !important;
  font-weight: 500;
  font-size: x-large;

  &:hover {
  color: white !important;
  text-shadow: .5px 0 white;
  }
}

@media only screen and (max-width: 600px) {
  #headerTitle {
    font-size: 40px;
  }
}