@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

.postContainer {

  background-color: 	transparent;
  margin: 20px;

  & * {
    font-size: 16px;
  }

  & > .post {
    margin: 0 10px;
    border-radius: 10px;
    overflow-wrap: break-word;

    & > .postOwner {
      font-size: 25px;
      transition: .2s;
      color: white !important;
      font-weight: 500;
      text-decoration: none;
      margin: 0 10px;
    
       &:hover {
        color: white !important;
        text-shadow: 1px 0 white;
       }
    }
  }

  & .postTitle {
    font-size: 25px;
    color: white;
  }

  & > .showComments {
    font-size: 20px;
    font-weight: 500;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    margin: -5px 0 0 10px;

    &:hover {
      background-color: rgba(0,0,0,.5) !important;
    }
  }
}

.postContent {
  margin: 5px 10px !important;
  padding: 0 10px;
  font-family: "Fira code", "Fira Mono", monospace;
  color: white;
}

.code {
  font-size: 14px;
}
