@import '~bootstrap/scss/bootstrap';

* {
  font-size: 25px;
	animation: .5s ease-in-out 0s 1 light-bounce-in;
}

body {
	background: linear-gradient(90deg, rgba(247,149,128,1) 0%, rgba(246,143,126,1) 14%, rgba(243,133,126,1) 27%, rgba(242,113,117,1) 53%, rgba(242,110,111,1) 69%, rgba(242,123,115,1) 87%, rgba(242,123,115,1) 100%);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 600px) {
  * {
		font-size: 16px;
	}
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}