@import '~bootstrap/scss/bootstrap';

* {
  font-size: 25px;
	animation: .5s ease-in-out 0s 1 light-bounce-in;
}

body {
	background: repeating-linear-gradient(92deg, 
	rgb(247, 149, 128) 0%,
	rgb(242, 110, 111) 20%, 
	rgb(186, 149, 221) 40%, 
	rgb(163, 118, 206) 60%, 
	rgb(105, 167, 197) 80%,
	rgb(138, 165, 76) 100%
	);
	background-size: 500% 500%;
	animation: gradient 300s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 600px) {
  * {
		font-size: 16px;
	}
}

@keyframes light-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  50% {
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}